body {
    font: 14px 'pixelfont';
    height: 100vh;
}

#preload_font {
    font: 14px 'pixelfont';
    color: white;
    display: none;
}

canvas {
    image-rendering: pixelated;
    display: block;
    margin: 10px auto;
}


/* paint editor */

#spriter {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

#spriter button {
    background: #cda964;
    border-radius: 3px;
    border: none;
    padding: 3px 5px;
    font: 14px 'pixelfont';
    letter-spacing: -2px;
    cursor: pointer;
}

#spriter button:hover {
    background: #f3ce8a;

}

#spriter .toolbar {
    margin: 10px;
}

#spriter .toolbar>* {
    margin-right: 5px;
}

#spriter .asset_list {
    display: inline-block;
}

#spriter .asset_list a {
    display: block;
    padding: 4px 8px;
    color: #888;
    cursor: pointer;
}

#spriter .asset_list a:hover {
    color: #fff;
}

#spriter .asset_list a.active {
    background-color: #ccc;
    color: #222;
}